<main class="demo-shell">
  <h1>Mozek Demo</h1>

  <h3>Radio</h3>
  <div class="grid gap-2 w-full">
    <moz-radio-group
      orientation="vertical"
      name="fruit"
      (valueChange)="fruit = $event"
    >
      <moz-radio value="apple" color="primary" [checked]="fruit === 'apple'">Apple</moz-radio>
      <moz-radio value="banana" color="success" [checked]="fruit === 'banana'">Banana</moz-radio>
      <moz-radio value="mango" color="warn" [checked]="fruit === 'mango'">Mango</moz-radio>
    </moz-radio-group>
    <p>Selected: {{ fruit }}</p>

    <moz-radio-group
      orientation="horizontal"
      name="food"
      (valueChange)="food = $event"
    >
      <moz-radio value="pizza" color="primary" [checked]="food === 'pizza'">Pizza</moz-radio>
      <moz-radio value="burger" color="success" [checked]="food === 'burger'">Burger</moz-radio>
      <moz-radio value="kebab" color="warn" [checked]="food === 'kebab'">Kebab</moz-radio>
    </moz-radio-group>
    <p>Selected: {{ food }}</p>

    <moz-radio-group
      orientation="horizontal"
      name="house"
      (valueChange)="house = $event"
      disabled
    >
      <moz-radio value="apartment" color="primary" [checked]="house === 'apartment'">Apartment</moz-radio>
      <moz-radio value="house" color="success" [checked]="house === 'house'">House</moz-radio>
      <moz-radio value="condo" color="warn" [checked]="house === 'condo'">Condo</moz-radio>
    </moz-radio-group>
    <moz-radio-group
      orientation="horizontal"
      name="house"
      (valueChange)="house = $event"
    >
      <moz-radio value="engineer" color="primary" [checked]="career === 'engineer'">Engineer</moz-radio>
      <moz-radio value="doctor" color="success" [checked]="career === 'doctor'">Doctor</moz-radio>
      <moz-radio value="teacher" color="warn" [checked]="career === 'teacher'" disabled>Teacher</moz-radio>
    </moz-radio-group>
  </div>

  <h3>Checkbox</h3>
  <div class="grid gap-2 w-full">
    <moz-checkbox [(checked)]="checked">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" color="primary">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" color="secondary">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" color="success">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" color="warn">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" color="danger">Checkbox</moz-checkbox>
    <moz-checkbox [(checked)]="checked" disabled>Checkbox</moz-checkbox>
    <div class="flex w-full gap-2">
      <moz-checkbox [(checked)]="checked" position="start">Start</moz-checkbox>
    </div>
    <div class="flex w-full gap-2">
      <moz-checkbox [(checked)]="checked" position="end">End</moz-checkbox>
    </div>
    <moz-checkbox-group>
      <moz-checkbox color="primary" [(checked)]="box1">Checkbox 1</moz-checkbox>
      <moz-checkbox color="secondary" [(checked)]="box2">Checkbox 2</moz-checkbox>
      <moz-checkbox color="success" [(checked)]="box3">Checkbox 3</moz-checkbox>
    </moz-checkbox-group>
    {{box1}} - {{box2}} - {{box3}}
    <moz-checkbox-group orientation="horizontal">
      <moz-checkbox color="primary">Checkbox 1</moz-checkbox>
      <moz-checkbox color="secondary">Checkbox 2</moz-checkbox>
      <moz-checkbox color="success">Checkbox 3</moz-checkbox>
    </moz-checkbox-group>
    <moz-checkbox-group orientation="horizontal" disabled>
      <moz-checkbox color="primary">Checkbox 1</moz-checkbox>
      <moz-checkbox color="secondary">Checkbox 2</moz-checkbox>
      <moz-checkbox color="success">Checkbox 3</moz-checkbox>
    </moz-checkbox-group>
  </div>

  <h3>Accordion</h3>
  <div class="grid gap-2 w-full">
    <moz-accordion>
      @for (item of ['1','2','3']; track $index) {
        <moz-accordion-item>
          <div mozAccordionHeader>Header {{item}}</div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </moz-accordion-item>
      }
    </moz-accordion>
    <moz-accordion [multi]="true">
      <moz-accordion-item>
        <div mozAccordionHeader>Header 1</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </moz-accordion-item>
      <moz-accordion-item>
        <div mozAccordionHeader>Header 2</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </moz-accordion-item>
      <moz-accordion-item disabled>
        <div mozAccordionHeader>Header 3</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </moz-accordion-item>
    </moz-accordion>
  </div>
  
  <h3>Select</h3>
  <div class="grid gap-2 w-full">
    <moz-select>
      @for (item of ['1','2','3','4','5']; track $index) {
        <moz-option [value]="item">{{item}}</moz-option>
      }
    </moz-select>
    <div class="flex gap-2">
      <moz-select model="outline">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select model="fill">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select model="outline" error="Error">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select model="fill" error="Error">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
    </div>
    <div class="flex gap-2">
      <moz-select label="Select">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select label="Select">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select label="Select"></moz-select>
      <moz-select disabled>
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
    </div>
    <div class="flex gap-2 mb-2">
      <moz-select hint="Must">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select placeholder="Anything">
        @for (item of ['1','2','3','4','5']; track $index) {
          <moz-option [value]="item">{{item}}</moz-option>
        }
      </moz-select>
      <moz-select placeholder="Anything">
        <moz-option value=""></moz-option>
        <moz-option value="1">1</moz-option>
        <moz-option value="2" disabled>2</moz-option>
        <moz-option value="3">3</moz-option>
      </moz-select>
    </div>
    <div class="flex gap-2 mb-2">
      <moz-select placeholder="Full" full></moz-select>
    </div>
  </div>

  <h3>Datepicker</h3>
  <div class="grid gap-2 w-full">
    <moz-datepicker></moz-datepicker>
    <div class="flex gap-2">
      <moz-datepicker model="outline"></moz-datepicker>
      <moz-datepicker model="fill"></moz-datepicker>
      <moz-datepicker label="Date Picker"></moz-datepicker>
      <moz-datepicker disabled></moz-datepicker>
    </div>
  </div>

  <h3>Button Icon</h3>
  <div class="grid gap-2 w-full">
    <div class="flex gap-2">
      <moz-button-icon model="tonal">
        <moz-icon>pen</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text">
        <moz-icon>pen</moz-icon>
      </moz-button-icon>
    </div>
    <div class="flex gap-2">
      <moz-button-icon model="tonal" gap>
        <moz-icon>pen</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" gap>
        <moz-icon>pen</moz-icon>
      </moz-button-icon>
    </div>
    <div class="flex gap-2">
      <moz-button-icon model="tonal" disabled>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" disabled>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
    </div>
    <div class="flex gap-2">
      <moz-button-icon model="tonal" color="primary">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="secondary">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="success">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
            <moz-button-icon model="tonal" color="warn">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="danger">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
    </div>
    <div class="flex gap-2">
      <moz-button-icon model="text" color="primary">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="secondary">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="success">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
            <moz-button-icon model="text" color="warn">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="danger">
        <moz-icon>home</moz-icon>
      </moz-button-icon>
    </div>

    <div class="flex gap-2">
      <moz-button-icon model="tonal" color="primary" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="secondary" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="success" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
            <moz-button-icon model="tonal" color="warn" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="tonal" color="danger" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
    </div>
    <div class="flex gap-2">
      <moz-button-icon model="text" color="primary" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="secondary" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="success" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
            <moz-button-icon model="text" color="warn" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
      <moz-button-icon model="text" color="danger" gap>
        <moz-icon>home</moz-icon>
      </moz-button-icon>
    </div>
  </div>

  <h3>Switch</h3>
  <div class="grid gap-2 w-full">
    <moz-switch (changed)="checked = !checked"></moz-switch>
    {{checked ? 'ON' : 'OFF'}}

    <div class="flex gap-2">
      <moz-switch color="primary"></moz-switch>
      <moz-switch color="secondary"></moz-switch>
      <moz-switch color="success"></moz-switch>
      <moz-switch color="warn"></moz-switch>
      <moz-switch color="danger"></moz-switch>
      <moz-switch color="primary" disabled></moz-switch>
    </div>
  </div>

  <h3>Progress</h3>
  <div class="grid gap-2 w-full">
    <moz-progress></moz-progress>
    <moz-progress model="infinity"></moz-progress>
    <div class="flex gap-2">
      <moz-progress model="ring"></moz-progress>
      <moz-progress model="line_spinner"></moz-progress>
      <moz-progress model="hourglass"></moz-progress>
      <moz-progress model="zoomies"></moz-progress>
      <moz-progress model="line_wobble"></moz-progress>
      <moz-progress model="infinity"></moz-progress>
      <moz-progress model="cardio"></moz-progress>
      <moz-progress model="helix"></moz-progress>
      <moz-progress model="newton"></moz-progress>
    </div>
    <div class="flex gap-2">
      <moz-progress model="line_spinner" color="primary" size="20"></moz-progress>
      <moz-progress model="line_spinner" color="secondary" size="40"></moz-progress>
      <moz-progress model="line_spinner" color="primary" size="60"></moz-progress>
      <moz-progress model="line_spinner" color="primary" size="80"></moz-progress>
      <moz-progress model="line_spinner" color="primary" size="100"></moz-progress>
    </div>
    <div class="flex gap-2">
      <moz-progress model="cardio" color="primary" speed="0.5"></moz-progress>
      <moz-progress model="cardio" color="primary" speed="1"></moz-progress>
      <moz-progress model="cardio" color="primary" speed="1.5"></moz-progress>
      <moz-progress model="cardio" color="primary" speed="2"></moz-progress>
      <moz-progress model="cardio" color="primary" speed="4"></moz-progress>
    </div>
  </div>

  <h3>Pagination</h3>
  <div class="grid gap-2 w-full">
    @for (item of pagedItems; track $index) {
      <moz-card>{{item}}</moz-card>
    }
    <moz-pagination 
      [length]="items.length"
      [(pageIndex)]="pageIndex"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    >
    </moz-pagination>
    <moz-pagination 
      color="secondary"
      [length]="items.length"
      [(pageIndex)]="pageIndex"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    >
    </moz-pagination>
  </div>

  <h3>Icon</h3>
  <div class="grid gap-2 w-full">
    <moz-icon>home</moz-icon>
    <div class="flex gap-2">
      <moz-icon color="primary">settings</moz-icon>
      <moz-icon color="secondary">atom</moz-icon>
      <moz-icon color="success">file_text</moz-icon>
      <moz-icon color="warn">exit</moz-icon>
      <moz-icon color="danger">search</moz-icon>
      <moz-icon color="#ff5dea">pin</moz-icon>
    </div>
    <div class="flex gap-2">
      <moz-icon size="1">chat_dots_circle</moz-icon>
      <moz-icon size="10">chat_dots_circle</moz-icon>
      <moz-icon size="20">printer</moz-icon>
      <moz-icon size="30">notebook</moz-icon>
      <moz-icon size="40">train</moz-icon>
      <moz-icon size="50">eye_closed</moz-icon>
      <moz-icon size="100">check_read</moz-icon>
      <moz-icon size="200">check_read</moz-icon>
    </div>
  </div>

  <h3>Input</h3>
  <div class="flex flex-col gap-2 w-full">
    <moz-input></moz-input>
    <div class="flex gap-2">
      <moz-input model="outline"></moz-input>
      <moz-input model="fill"></moz-input>
      <moz-input model="outline" label="Input"></moz-input>
      <moz-input model="fill" label="Input"></moz-input>
    </div>
    <div class="flex gap-2">
      <moz-input model="outline" label="Input" placeholder="Input"></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input"></moz-input>
      <moz-input model="outline" label="Input" placeholder="Input" helper="Key In"></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input" helper="Key In"></moz-input>
    </div>
    <div class="flex gap-2">
      <moz-input model="outline" label="Input" placeholder="Input" error="Error"></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input" error="Error"></moz-input>
      <moz-input model="outline" label="Input" placeholder="Input" clearable></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input" clearable></moz-input>
    </div>
    <div class="flex gap-2">
      <moz-input model="outline" label="Input" placeholder="Input" disabled></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input" disabled></moz-input>
      <moz-input model="outline" label="Input" placeholder="Input" readonly></moz-input>
      <moz-input model="fill" label="Input" placeholder="Input" readonly></moz-input>
    </div>
    <div class="flex gap-2">
      <moz-input model="outline" label="Input" placeholder="Input" full></moz-input>
    </div>
    <div class="flex gap-2">
      <moz-input model="outline" label="Input" type="password" placeholder="Input" ></moz-input>
    </div>
  </div>

  <h3>Divider</h3>
  <div class="flex flex-col gap-2 w-full">
    <moz-divider></moz-divider>
    <moz-divider color="primary"></moz-divider>
    <moz-divider color="secondary"></moz-divider>
    <moz-divider color="success"></moz-divider>
    <moz-divider color="warn"></moz-divider>
    <moz-divider color="danger"></moz-divider>
    ---
    <moz-divider color="primary">Default</moz-divider>
    <moz-divider color="primary" align="start">Start</moz-divider>
    <moz-divider color="primary" align="center">Center</moz-divider>
    <moz-divider color="primary" align="end">End</moz-divider>
    <moz-divider color="primary" dashed>Dashed</moz-divider>
    <moz-divider color="primary" pill>Pill</moz-divider>
    ---
    <moz-divider color="primary" depth="5" pill>20-Pill</moz-divider>
    <moz-divider color="primary" depth="3">20</moz-divider>
    <div style="height: 20rem;">
      <moz-divider color="primary" depth="2" pill orientation="vertical" pill>Test</moz-divider>
    </div>
  </div>

  <h3>Currency</h3>
  <div class="flex flex-col gap-2 w-full">

    <moz-currency>100</moz-currency>
    <div class="flex gap-2 scroll-x">
      <moz-currency currency="MYR">100</moz-currency>
      <moz-currency currency="USD">100</moz-currency>
      <moz-currency currency="EUR">100</moz-currency>
      <moz-currency currency="MYR" symbol>100</moz-currency>
      <moz-currency currency="USD" color="primary" symbol>100</moz-currency>
      <moz-currency currency="EUR" style="color: red;" symbol>100</moz-currency>
    </div>
  </div>

  <h3>Badge</h3>
  <div class="flex flex-col gap-2 w-full">

    <moz-badge>Default</moz-badge>
    <div class="flex gap-2 scroll-x">
      <moz-badge color="primary">Primary</moz-badge>
      <moz-badge color="secondary">Secondary</moz-badge>
      <moz-badge color="success">Success</moz-badge>
      <moz-badge color="warn">Warn</moz-badge>
      <moz-badge color="danger">Danger</moz-badge>
    </div>
    <div class="flex gap-2 scroll-x">
      <moz-badge color="primary">1</moz-badge>
      <moz-badge color="secondary">10</moz-badge>
      <moz-badge color="success">100</moz-badge>
      <moz-badge color="warn"></moz-badge>
      <moz-badge color="danger">-1000</moz-badge>
    </div>
    <div class="flex gap-2 scroll-x">
      <moz-badge color="primary" icon="check">Primary</moz-badge>
      <moz-badge color="secondary" icon="cancel">Secondary</moz-badge>
      <moz-badge color="success" icon="alert">Success</moz-badge>
      <moz-badge color="warn" icon="pending">Warn</moz-badge>
      <moz-badge color="danger" icon="check"></moz-badge>
    </div>
     <div class="flex gap-2 scroll-x">
      <moz-badge color="primary" icon="check" dot>Primary</moz-badge>
      <moz-badge color="secondary" pulse>1</moz-badge>
      <moz-badge color="success" icon="alert"pulse>Success</moz-badge>
      <moz-badge color="warn" icon="pending" pulse dot>Warn</moz-badge>
      <moz-button>
        Button
        <moz-badge color="danger" notification pulse>10</moz-badge>
      </moz-button>
    </div>
  </div>

  <h3>Card</h3>
  <div class="flex flex-col gap-2 w-full">

    <moz-card>Default</moz-card>
    <div class="flex gap-2 scroll-x">
      <moz-card model="fill" color="primary">
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="fill" color="primary" advance>
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="fill" color="primary">
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="fill" color="secondary" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="fill" color="success" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="fill" color="warn" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
      </moz-card>
      <moz-card model="fill" color="danger" loading></moz-card>
    </div>

    <div class="flex gap-2 scroll-x">
      <moz-card model="outline" color="primary">
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="outline" color="primary" advance>
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="outline" color="primary">
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="outline" color="secondary" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="outline" color="success" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="outline" color="warn" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
      </moz-card>
      <moz-card model="outline" color="danger" loading></moz-card>
    </div>

    <div class="flex gap-2 scroll-x">
      <moz-card model="elevated" color="primary">
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="elevated" color="primary" advance>
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="elevated" color="primary">
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="elevated" color="secondary" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="elevated" color="success" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="elevated" color="warn" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
      </moz-card>
      <moz-card model="elevated" color="danger" loading></moz-card>
    </div>

    <div class="flex gap-2 scroll-x">
      <moz-card model="flavor" color="primary">
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="flavor" color="primary" advance>
        <moz-card-media>
          <img src="https://www.klcc.com.my/investor-relations/reports/klccpstapledgroupiar2025.bitesite/img/hero-klcc-anim.jpg">
        </moz-card-media>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="flavor" color="primary">
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="flavor" color="secondary" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
        <moz-card-footer>
          Mozek Card Footer
        </moz-card-footer>
      </moz-card>
      <moz-card model="flavor" color="success" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
        <moz-card-body>
          Mozek Card Content
        </moz-card-body>
      </moz-card>
      <moz-card model="flavor" color="warn" advance>
        <moz-card-header>
          Mozek Card Header
        </moz-card-header>
      </moz-card>
      <moz-card model="flavor" color="danger" loading></moz-card>
    </div>
  </div>

  <h3>Button</h3>
  <div class="flex flex-col gap-2">

    <div class="flex gap-2">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>

    <moz-button>Default</moz-button>
    <div class="flex gap-2">
      <moz-button model="fill" color="primary">Primary</moz-button>
      <moz-button model="fill" color="secondary">Secondary</moz-button>
      <moz-button model="fill" color="success">Success</moz-button>
      <moz-button model="fill" color="warn">Warn</moz-button>
      <moz-button model="fill" color="danger">Danger</moz-button>
      <moz-button model="fill" color="#b10fff">#b10fff</moz-button>
      <moz-button model="fill">Default</moz-button>
      <moz-button model="fill" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="flavor" color="primary">Primary</moz-button>
      <moz-button model="flavor" color="secondary">Secondary</moz-button>
      <moz-button model="flavor" color="success">Success</moz-button>
      <moz-button model="flavor" color="warn">Warn</moz-button>
      <moz-button model="flavor" color="danger">Danger</moz-button>
      <moz-button model="flavor" color="#b10fff">#b10fff</moz-button>
      <moz-button model="flavor">Default</moz-button>
      <moz-button model="flavor" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="outline" color="primary">Primary</moz-button>
      <moz-button model="outline" color="secondary">Secondary</moz-button>
      <moz-button model="outline" color="success">Success</moz-button>
      <moz-button model="outline" color="warn">Warn</moz-button>
      <moz-button model="outline" color="danger">Danger</moz-button>
      <moz-button model="outline" color="#b10fff">#b10fff</moz-button>
      <moz-button model="outline">Default</moz-button>
      <moz-button model="outline" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="text" color="primary">Primary</moz-button>
      <moz-button model="text" color="secondary">Secondary</moz-button>
      <moz-button model="text" color="success">Success</moz-button>
      <moz-button model="text" color="warn">Warn</moz-button>
      <moz-button model="text" color="danger">Danger</moz-button>
      <moz-button model="text" color="#b10fff">#b10fff</moz-button>
      <moz-button model="text">Default</moz-button>
      <moz-button model="text" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="tonal" color="primary">Primary</moz-button>
      <moz-button model="tonal" color="secondary">Secondary</moz-button>
      <moz-button model="tonal" color="success">Success</moz-button>
      <moz-button model="tonal" color="warn">Warn</moz-button>
      <moz-button model="tonal" color="danger">Danger</moz-button>
      <moz-button model="tonal" color="#b10fff">#b10fff</moz-button>
      <moz-button model="tonal">Default</moz-button>
      <moz-button model="tonal" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="elevated" color="primary">Primary</moz-button>
      <moz-button model="elevated" color="secondary">Secondary</moz-button>
      <moz-button model="elevated" color="success">Success</moz-button>
      <moz-button model="elevated" color="warn">Warn</moz-button>
      <moz-button model="elevated" color="danger">Danger</moz-button>
      <moz-button model="elevated" color="#b10fff">#b10fff</moz-button>
      <moz-button model="elevated">Default</moz-button>
      <moz-button model="elevated" disabled>Disabled</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button model="glass" color="primary">Primary</moz-button>
      <moz-button model="glass" color="secondary">Secondary</moz-button>
      <moz-button model="glass" color="success">Success</moz-button>
      <moz-button model="glass" color="warn">Warn</moz-button>
      <moz-button model="glass" color="danger">Danger</moz-button>
      <moz-button model="glass" color="#b10fff">#b10fff</moz-button>
      <moz-button model="glass">Default</moz-button>
      <moz-button model="glass" disabled>Disabled</moz-button>
    </div>
    <moz-button full>Full Width</moz-button>
    <div class="flex gap-2">
      <moz-button></moz-button>
      <moz-button>I used to work without hesitation</moz-button>
    </div>
    <div class="flex gap-2">
      <moz-button>1 line</moz-button>
      <moz-button >
        1 line<br>
        1 line<br>
        1 line<br>
        1 line
      </moz-button>
      <moz-button style="height: 50px;">Height: 50px</moz-button>
    </div>
  </div>

</main>