// ============================================================================
// monzar Color Palette
// ============================================================================
// Lightweight, opinionated color scales (similar to Tailwind).
// -----------------------------------------------------------------------------
// Author: thecodemeor
// Version: 1.0
// -----------------------------------------------------------------------------


$colors: (
    red: (
        50:  #fff0f0,
        100: #ffdddd,
        200: #ffc0c0,
        300: #ff9494,
        400: #ff5757,
        500: #ff2323,
        600: #ff0505,
        700: #d70000,
        800: #b10303,
        900: #920a0a,
        950: #500000,
    ),

    rose: (
        50:  #fff0f9,
        100: #ffe3f6,
        200: #ffc6ee,
        300: #ff98de,
        400: #ff58c6,
        500: #ff27ac,
        600: #ff058a,
        700: #df006b,
        800: #b80058,
        900: #98034c,
        950: #5f0029,
    ),

    fuchsia: (
        50:  #fff2fe,
        100: #ffe3fe,
        200: #ffc6fd,
        300: #ff99f6,
        400: #ff5def,
        500: #ff21f2,
        600: #ff00ff,
        700: #cf00ca,
        800: #a900a3,
        900: #890682,
        950: #5e005a,
    ),

    violet: (
        50:  #f3f0ff,
        100: #eae4ff,
        200: #d8cdff,
        300: #bca6ff,
        400: #9c73ff,
        500: #803bff,
        600: #7414ff,
        700: #6905ff,
        800: #5601d6,
        900: #4803af,
        950: #2a0077,
    ),

    malibu: (
        50:  #eff9ff,
        100: #dff2ff,
        200: #b8e8ff,
        300: #78d6ff,
        400: #3dc5ff,
        500: #06aaf1,
        600: #0088ce,
        700: #006ca7,
        800: #025b8a,
        900: #084c72,
        950: #06304b,
    ),

    teal: (
        50:  #eefffc,
        100: #c5fffa,
        200: #8bfff5,
        300: #4afef0,
        400: #15ece2,
        500: #00d0c9,
        600: #00a8a5,
        700: #008080,
        800: #066769,
        900: #0a5757,
        950: #003235,
    ),

    chartreuse: (
        50:  #f4ffe4,
        100: #e4ffc4,
        200: #cbff90,
        300: #a6ff50,
        400: #76ff03,
        500: #63e600,
        600: #4bb800,
        700: #388b00,
        800: #2f6d07,
        900: #2a5c0b,
        950: #113400,
    ),

    emerald: (
        50:  #f2fbf5,
        100: #e0f8e7,
        200: #c2f0d1,
        300: #93e2ae,
        400: #50c878,
        500: #36b15f,
        600: #27924c,
        700: #22733d,
        800: #205b34,
        900: #1c4b2e,
        950: #0a2916,
    ),

    lemon: (
        50:  #fdffe7,
        100: #f9ffc1,
        200: #f8ff86,
        300: #fbff41,
        400: #fff80d,
        500: #ffea00,
        600: #d1ae00,
        700: #a67d02,
        800: #89610a,
        900: #744f0f,
        950: #442a04,
    ),

    gold: (
        50:  #ffffe7,
        100: #feffc1,
        200: #fffd86,
        300: #fff341,
        400: #ffe40d,
        500: #ffd500,
        600: #d19c00,
        700: #a67002,
        800: #89570a,
        900: #74470f,
        950: #442504,
    ),

    amber: (
        50:  #ffffea,
        100: #fffbc5,
        200: #fff885,
        300: #ffed46,
        400: #ffdf1b,
        500: #ffbf00,
        600: #e29300,
        700: #bb6802,
        800: #985008,
        900: #7c420b,
        950: #482200,
    ),

    tangerine: (
        50:  #fffbec,
        100: #fff5d3,
        200: #ffe8a5,
        300: #ffd66d,
        400: #ffb832,
        500: #ffa00a,
        600: #ff8800,
        700: #cc6402,
        800: #a14d0b,
        900: #82410c,
        950: #461f04,
    ),

    // === Gray Scale ============ //
    silver: (
        50:  #f7f7f7,
        100: #f0f0f0,
        200: #e3e3e3,
        300: #d1d1d1,
        400: #c2c2c2,
        500: #aaaaaa,
        600: #969696,
        700: #818181,
        800: #6a6a6a,
        900: #585858,
        950: #333333,
    ),
    gray: (
        50:  #f4f8f9,
        100: #ebf2f4,
        200: #dbe6ea,
        300: #c4d6dd,
        400: #acc2cd,
        500: #96aebe,
        600: #7f95ac,
        700: #6d8196,
        800: #596a7a,
        900: #4c5863,
        950: #2c333a,
    ),

)